In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

file_to_load = "weather.csv"

weather_data = pd.read_csv(file_to_load)
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ponta do Sol,5,BR,1563579073,65,-20.63,-46.00,286.059,2.21
1,Jamestown,0,AU,1563578989,43,-33.21,138.60,286.559,7.77
2,Ushuaia,20,AR,1563578968,64,-54.81,-68.31,276.150,1.50
3,Mount Gambier,31,AU,1563578667,66,-37.83,140.78,283.150,7.70
4,Omboue,100,GA,1563579412,88,-1.57,9.26,296.759,4.34

In [14]:
#Convert to html and save as html file
weather_html= weather_data.to_html('weather_data.html')